# OS
.DS_Store

# Env
.env
.env.*

# IDEs
.vscode/

# Database
*.db*

# Node
node_modules/
asset/assets/

# Format/Lint
prettier*
eslint*

# Output
dist/

# Go
__debug_bin*

# Deployment
deploy/

# Misc
notes*
*.jsonc

# Python
__pycache__/
venv/
